body {
  @hp-panel-height: 16px;
  @kills-panel-size: 1px;
  @player-panel-height: @hp-panel-height;

  margin: 0;
  padding: 0;
  background-color: #555;

  img {
    display: block;
  }

  #player-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: @player-panel-height;
    width: 100%;
    background-color: #222;
  }

  #canvas {
    display: block;
    margin: @player-panel-height auto 0 auto;
    padding: 0;
    background-color: #fff;
    cursor: url("../img/transparent-1px.png"), none;
  }
}
