html {
  width: 100%;
  height: 100%;
  position: relative;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #444444;
}
html body img {
  display: block;
}
html body #stage-canvas {
  display: block;
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: #fff;
  cursor: url("../images/transparent-1px.png"), none;
}
html body .player-panel {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #333333;
  background-color: white;
}
html body .progress-bar {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 14px;
  border: 1px solid #333333;
}
html body .progress-bar__progress {
  box-sizing: border-box;
  height: 100%;
  border-right: 1px solid #333333;
  background-color: #3fb618;
}
